{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form role="form">
                <div class="form-group">
                    <label for="unit">Unit of Time</label><br />
                    <select name="unit">
                        <option value="day">Day</option>
                        <option value="month">Month</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">File input</label><br />
                    <select name="palette">
                        {% for palette in palettes %}
                        <option value="{{ palette }}">{{ palette }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="fill_null"> Fill Null</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="smooth_horizontal"> Smooth Horizontal</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="smooth_vertical"> Smooth Vertical</label>
                </div>
                <div class="form-group">
                    <label for="similarity">Similarity</label><br />
                    <input name="similarity" id="similarity" type="range"
                           min="0" value="0" max="1" step="0.1">
                </div>
                <div class="form-group">
                    <label for="recursion">Recursion</label><br />
                    <input name="recursion" id="recursion" type="range"
                           min="0" value="0" max="20" step="1">
                </div>
            </form>
        </div>
        <div class="col-sm-8">
            <img src="http://dummyimage.com/1x1/4d494d/686a82.gif" alt="">
        </div>
    </div>
</div>
{% endblock %}
