{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <iframe style="float: right; margin-top: 1em;" src="http://ghbtns.com/github-btn.html?user=mattparrilla&amp;repo=csv2png&amp;type=fork"
  allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
                <h1>USHCN Data Visualizer <small>Matt Parrilla, Joe di Stefano</small></h1>
            </div>
        </div>
        <div class="col-sm-4">
            <form role="form">
                <div class="form-group">
                    <label for="unit">Unit of Time</label><br />
                    <select name="unit">
                        <option value="day">Day</option>
                        <option value="month">Month</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">Palette</label><br />
                    <select name="palette">
                        {% for palette in palettes %}
                        <option value="{{ palette }}">{{ palette }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="fill_null" checked> Fill Null</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="smooth_horizontal" checked> Smooth Horizontal</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="smooth_vertical" checked> Smooth Vertical</label>
                </div>
                <div class="form-group">
                    <label for="similarity">Similarity</label><br />
                    <input name="similarity" id="similarity" type="range"
                           min="0" value="0" max="1" step="0.1">
                </div>
                <div class="form-group">
                    <label for="recursion">Recursion</label><br />
                    <input name="recursion" id="recursion" type="range"
                           min="0" value="0" max="10" step="1">
                </div>
            </form>
        </div>
        <div class="col-sm-8">
            <img src="http://dummyimage.com/1x1/4d494d/686a82.gif" alt="">
        </div>
    </div>
</div>
{% endblock %}
