<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ description }}">
        <style type="text/css">
            body {
                padding-top: 20px;
            }
            img {
                max-width: 100%;
            }
        </style>
    </head>

    <body>
        {% block content %}{% endblock %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/localforage/1.1.1/localforage.min.js"></script>
        <script>
            $(document).ready(function () {
                var form = $('form').first(),
                    img = $('img').first();

                // Check for saved state
                localforage.getItem('form_data', function(err, value) {
                    $.each(value, function (k, v) {
                        var input = form.find('[name="'+v.name+'"]');

                        if (v.value === 'on') {
                            input.prop('checked', true);
                        } else {
                            input.val(v.value);
                        }
                    })

                    // Trigger an image update
                    form.change();
                });

                form.change(function () {
                    var data = $(this).serialize(),
                        data_array = $(this).serializeArray(),
                        src = '/img/?' + data;

                    localforage.setItem('form_data', data_array);

                    img.attr('src', src);
                }).change();
            });
        </script>
    </body>
</html>
